<!--/*
  ADOBE CONFIDENTIAL

  Copyright 2016 Adobe Systems Incorporated
  All Rights Reserved.

  NOTICE:  All information contained herein is, and remains
  the property of Adobe Systems Incorporated and its suppliers,
  if any.  The intellectual and technical concepts contained
  herein are proprietary to Adobe Systems Incorporated and its
  suppliers and may be covered by U.S. and Foreign Patents,
  patents in process, and are protected by trade secret or copyright law.
  Dissemination of this information or reproduction of this material
  is strictly forbidden unless prior written permission is obtained
  from Adobe Systems Incorporated.
*/-->
<sly data-sly-use.item="com.adobe.cq.xf.ui.ExperienceFragmentConsoleItem"/>
<tr class="foundation-collection-item ${(item.folder || item.isExperienceFragmentRoot) && 'foundation-collection-navigator'}"
    data-foundation-collection-item-id="${resource.path}"
    data-granite-collection-item-id="${resource.path}"
    data-path="${resource.path}"
    data-type="${item.resourceType}"
    data-item-type="${item.itemType}"
    data-timeline="true"
    is="coral-table-row"
    data-title="${item.title}"
    data-xf-master-variation-path="${request.contextPath}/bin/wcmcommand?cmd=open&_charset_=utf-8&path=${item.masterVariationPath}"
    data-target-offer="${item.isExportedToAdobeTarget ? 'true' : 'false'}">
    <td is="coral-table-cell" coral-table-rowselect>
        <coral-icon data-sly-test.needsFolderIcon="${item.folder}"
                    class="foundation-collection-item-thumbnail"
                    icon="folder"/>
        <img data-sly-test="${!needsFolderIcon}"
             class="foundation-collection-item-thumbnail"
             src="${item.path}.thumb.128.128.png"
             alt="">
    </td>
    <td class="foundation-collection-item-title" is="coral-table-cell" value="${item.title}">
        ${item.title}
    </td>
    <td is="coral-table-cell" value="${item.lastModified.timeInMillis || 0}">
        <time datetime="${item.lastModified.timeInMillis || 0}"
              data-sly-use.modified="${'com.adobe.cq.xf.ui.DateFormatter' @ date=item.lastModified, relativeFormat='r'}">
            ${modified.date}
        </time>
    </td>
    <td is="coral-table-cell" value="${item.publishedDate.timeInMillis || 0}">
        <time data-sly-test.published="${item.publishedDate}" datetime="${item.publishedDate.timeInMillis || 0}"
              data-sly-use.published="${'com.adobe.cq.xf.ui.DateFormatter' @ date=item.publishedDate, relativeFormat='r'}">
            ${published.date}
        </time>
        <span data-sly-test="${!published}">${'Not published' @ i18n}</span>
        <meta class="foundation-collection-quickactions"
              data-foundation-collection-quickactions-rel="${item.quickactionsRel.isEmpty ? 'none' : item.quickactionsRel @join=' '}">
    </td>

    <td is="coral-table-cell">
        <sly data-sly-list.res="${resource.listChildren}" >
             <div data-sly-list.ele="${res.getValueMap.cq:tags}">
                  <br> ${ele}
             </div>
        </sly>
    </td>

    <td is="coral-table-cell">
        <sly data-sly-list.res="${resource.listChildren}">
             ${ 'MM/dd/yyyy hh:mma' @ format= res.getValueMap.cq:publishDate,timezone = 'CST'}
        </sly>
    </td>

    <td is="coral-table-cell">
        <sly data-sly-list.res="${resource.listChildren}">
             ${ 'MM/dd/yyyy hh:mma' @ format= res.getValueMap.cq:unPublishDate,timezone = 'CST'}
        </sly>
    </td>

    <td is="coral-table-cell" alignment="right">
        <button is="coral-button" variant="minimal" icon="dragHandle" coral-table-roworder></button>
    </td>
</tr>
