<sly data-sly-include="/libs/wcm/core/components/init/init.jsp"/>

<!--/* Parsys */-->
<h2>Content for header section</h2>
<div data-sly-resource="${'headerResource' @resourceType = 'wcm/foundation/components/parsys'}"></div>

<h2>Content for footer section</h2>
<div data-sly-resource="${'footerResource' @resourceType = 'wcm/foundation/components/parsys'}"></div>

<h2>Content for modal section</h2>
<div data-sly-resource="${'modalResource' @resourceType = 'wcm/foundation/components/parsys'}"></div>