<template data-sly-template.placeholderTemplate="${@ placeholderComponentName, properties}">
    <sly data-sly-test="${wcmmode.edit}">
		<h3>${placeholderComponentName} <sly data-sly-test="${properties.isConditional}">*</sly></h3>
	</sly>
</template>
